{% extends "base.html" %}

{% block content %}
  <h1>Task Manager Service Home</h1>
  <p>Welcome to Best Task Manager!</p>
  <h2>Dynamic content</h2>
  <p>The Manager service has the following record counts:</p>
  <ul>
    <li><strong>Workers:</strong> {{ num_workers }}</li>
    <li><strong>Tasks:</strong> {{ num_tasks }}</li>
    <li><strong>Positions:</strong> {{ num_positions }}</li>
    <li><strong>Task Types:</strong> {{ num_task_type }}</li>
  </ul>

  <p>You have visited this page
    {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>

{% endblock %}
