{% extends "layouts/base_sections.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
  {% include 'includes/page_header.html' with page_title="Positions" %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 z-index-7 border-radius-xl mt-n12 mx-auto py-3 blur shadow-blur">
          <div class="row">
            <form method="get" action="" class="form-inline">
              <div class="input-group justify-content-xl-center">
                {{ search_form|crispy }}
                <div class="input-group-append">
                  <button type="submit" class="btn btn-secondary" id="search-btn">
                    🔍
                  </button>
                </div>
                <a class="justify-content-xl-end btn btn-primary" href="{% url 'manager:position-create' %}">
                  +
                </a>
              </div>
            </form>
            {% if position_list %}
              <table class="table">
                <tr>
                  <th>Position</th>
                  <th>Update</th>
                  <th>Delete</th>
                </tr>
                {% for position in position_list %}
                  <tr>
                    <td>{{ position.name }}</td>
                    <td><a href="{% url 'manager:position-update' pk=position.id %}" class="btn btn-warning">UPDATE</a></td>
                    <td><a href="{% url 'manager:position-delete' pk=position.id %}" class="btn btn-danger">DELETE</a></td>
                  </tr>
                {% endfor %}
              </table>
            {% else %}
              <h1 class="row justify-content-center">There aren't any positions</h1>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
