{% extends "base.html" %}

{% block content %}
  <h1>
    Tasks
    <a style="float: right" href="{% url 'manager:task-create' %}">
      +
    </a>
  </h1>
  {% if task_list %}
    <table class="table">
    <tr>
      <th>Task name</th>
      <th>Deadline</th>
      <th>Priority</th>
    </tr>
    {% for task in task_list %}
      <tr>
        <td>
          <a href="{% url 'manager:task-detail' task.id %}">
            {{ task.name }}
          </a>
        </td>
        <td>{{ task.deadline }}</td>
        <td>{{ task.priority }}</td>
      </tr>
    {% endfor %}
  {% else %}
    <p>There are no tasks</p>
  {% endif %}
</table>
{% endblock %}
