{% extends "layouts/base_sections.html" %}
{% load static %}
{% block content %}
  <div class="page-header min-vh-75 relative">
    <div class="col-lg-5 text-center mx-auto">
      <h1 class="pt-3 mt-n6">
        Worker in detail
        <a href="{% url 'manager:worker-delete' pk=worker.id %}" class="btn btn-danger link-to-page">
          Delete
        </a>
        <a href="{% url 'manager:worker-update' pk=worker.id %}" class="btn btn-secondary link-to-page">
          Update
        </a>
      </h1>
    </div>
  </div>
  <section class="pt-3 pb-4" id="count-stats">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 z-index-4 border-radius-xl mt-n12 mx-auto py-3 blur shadow-blur">
          <p>Username: {{ worker.username }}</p>
          <p>First name: {{ worker.first_name }}</p>
          <p>Last name: {{ worker.last_name }}</p>
          <p>Position: {{ worker.position }}</p>
          {% if worker.tasks.all %}
            <p><strong>{{ worker.username }} task{{ worker.tasks.count|pluralize }}:</strong></p>
            {% for task in worker.tasks.all %}
              <p>{{ task.id }} {{ task.name }} <a href="{% url 'manager:task-detail' pk=task.id %}">More</a></p>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
