<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <a style="color: gray" href="{% url 'manager:worker-detail' user.pk %}">User: {{ user.username }}</a>
    <br>
    <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">logout</button>
</form>
  {% else %}
    <a style="color: gray" href="{% url "login" %}">Login</a>
  {% endif %}
  <li><a href="/">Home page</a></li>
  <li><a href="{% url 'manager:task-type-list' %}">Task Types</a></li>
  <li><a href="{% url 'manager:task-list' %}">Tasks</a></li>
  <li><a href="{% url 'manager:worker-list' %}">Workers</a></li>
  <li><a href="{% url 'manager:position-list' %}">Positions</a></li>
</ul>
